.info {
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15), 0 0px 2px rgba(0, 0, 0, 0.1) !important ;
	position: relative;
}
.avatar {
	width: 200px;
	height: 120px;
}
.info:first-child {
	white-space: nowrap;
	/* width: 30rem; */
	width: 50vw;
	height: 70vh;
	border-radius: 5px;
	background: white;
	font-size: 1.5rem;
}
.card-header:first-child {
	height: 40px;
	background: rgb(255, 50, 50);
	border-radius: 5px 5px 0 0;
}
.time {
	color: var(--button-color);
	position: absolute;
	bottom: 3px;
	right: 5px;
}
.intro {
	margin-left: 22px;
}
.logo {
	position: absolute;
	/* top: 0;
	right: 0; */
}
.address {
	/* width: 300px; */
}
