.customer-add-main {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(129, 127, 127, 0.49);
	display: flex;
	position: absolute;
	z-index: 50;
	align-items: center;
	justify-content: center;
}
.close {
	opacity: 0;
}

.contain {
	background: white;
	height: 550px;
	width: 400px;
	margin: auto 30px;
	padding: 30px;
	border-radius: 5px;
	overflow: auto;
	position: relative;
	z-index: 50;
}

.underLine {
	border-bottom: 1px solid #ccc;
	padding: 10px 0;
}
.btn {
	border: 1px solid lightblue;
	padding: 8px;
	font-size: 1.3rem;
}
.form-control {
	margin-top: 10px;
}
