/*  customer-add */
.customer-add-main {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(129, 127, 127, 0.49);
	display: flex;
	position: absolute;
	z-index: 50;
	align-items: center;
	justify-content: center;
}
/* .close {
	left: -100%;
} */

.contain {
	background: white;
	height: 550px;
	width: 400px;
	margin: auto 30px;
	padding: 30px;
	border-radius: 5px;
	overflow: auto;
	position: relative;
	z-index: 50;
}

.underLine {
	border-bottom: 1px solid #ccc;
	padding: 10px 0;
}
.btn {
	border: 1px solid lightblue;
	padding: 8px;
	font-size: 1.3rem;
}
.form-control {
	margin-top: 10px;
}
/* ------------ */

/* table-->valid */

.valid-btn{
    background: #ccc;
}

/* ------------ */

/* avatar */
.customer-img{
    width: 134px;
    height: 134px;
}
.object-fit{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* page */
.page{
    margin: auto 0;
}

.select-border{
    width: 8rem;
}

/* collect-detail */
.collect-main{
	height: 100vh;
	width: 100vw;
	background: #7388a0;
}
.collect-heaader{
	font-family: 'Edu QLD Beginner', cursive;
	font-size: 3rem;
}
.collect-text, .collect-type, .collect-type:hover{
	color:rgb(84, 80, 80);
	height: 64px;
}
.collect-text> p{
	margin: auto 0;
	font-size: 1.1rem;
}
.fa-heart{
	color: red;
}
.collect-select-button> a{
	cursor: pointer;
	font-size: 1.2rem;	
}
.button-pattern, .button-pattern:hover{
	border-left: 5px #37377c solid;
	color: #254661;
	/* border-radius: 3px; */
	padding: 0 3px;
}