* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body,
*::placeholder,
*,
select,
option,
input {
	font-family: "Noto Sans TC", sans-serif;
}

a,
a:link {
	text-decoration: none;
	color: black;
}
a:hover,
a:active {
	color: black;
}

:root {
	/* height &width */
	--header-height: 50px;
	--aside-width: 240px;
	/* bg-color */
	--main-color: #fefbdd;
	--main-bg: #f7f7f8;
	--header-bg: #fff;
	--sub-bg: #efeff1;
	--delete-bg:#d90429;
	/* color */
	--button-color: #aaa;
	--button-active: #ccc;
	--btn-hover: #e5e5e5;
	--button-hover: #ddd;
	--main-font-color: #222;
	/* other */
	--box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15), 0 0px 2px rgba(0, 0, 0, 0.1);
	--hover-shadow: 3px 2px #bbb;
	--outline: var(--button-active) solid 4px;
	--input-border: #ced4da;
}
/* module */
/* button */
.delete-btn,
.delete-btn:link,
.delete-btn:hover {
	padding: 0.25rem 0.65rem;
	background: #d90429;
	color: #fff;
	border-radius: 3px;
}

.flex_center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.flex_between {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.position_abs {
	position: absolute;
}
.position-rel {
	position: relative;
}
.d-none {
	display: none;
}
.translateYtoNone {
	transform: translateY(-100%);
	opacity: 0;
	z-index: -1;
	height: 0;
}

.unstyled_list {
	list-style-type: none;
}
.btn-main {
	white-space: nowrap;
	padding: 0.25rem 0.65rem;
	background: var(--header-bg);
	margin: 0;
	border: 0;
	border-radius: 3px;
	box-shadow: var(--box-shadow);
	font-family: "Noto Sans TC", sans-serif;
}

.btn-main:hover {
	background: #ccc;
	box-shadow: var(--hover-shadow);
}
.invisible {
	opacity: 0;
}
.transition {
	transition: background 0.3s, box-shadow 0.3s;
}
.object-cover {
	object-fit: cover;
	width: 100%;
	height: 100%;
}
/* --------------------------------------------- */
/* header */
.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: var(--header-bg);
	padding: 0.5rem 1rem;
	height: var(--header-height);
	box-shadow: var(--box-shadow);
	width: 100%;
	position: fixed;
	z-index: 50;
}
/* logo & title */
.logo {
	margin-right: 1rem;
}
/* user */
.user_photo {
	margin-right: 0.75rem;
	height: 40px;
	width: 40px;
	padding: 0.3rem;
	border-radius: 50%;
	background: linear-gradient(
		135deg,
		rgba(226, 226, 226, 1) 0%,
		rgba(219, 219, 219, 1) 50%,
		rgba(209, 209, 209, 1) 51%,
		rgba(254, 254, 254, 1) 100%
	);
	box-shadow: var(--box-shadow);
}
.user-object-cover{
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.sign_out {
	display: inline-block;
	padding: 0.15rem 0.7rem;
	background: var(--header-color);
	box-shadow: var(--box-shadow);
	border-radius: 5px;
}
.sign_out:hover {
	background: var(--btn-hover);
	box-shadow: var(--hover-shadow);
}
/* --------------------------------------------- */
/* aside */
.aside {
	width: var(--aside-width);
	height: calc(100vh - var(--header-height));
	background: var(--sub-bg);
	padding: 1rem;
	font-size: 1rem;
	top: calc(var(--header-height));
	position: fixed;
	z-index: 50;
	overflow: auto;
}
.nav {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}
/* main_nav_item */
.main_nav_item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 0.3rem;
}
/* XX管理 */
.main_nav_item a {
	margin-left: 1rem;
}
.main_nav_item svg {
	width: 1.4rem;
	height: 1.4rem;
}
.main_nav_item_content {
	line-height: 25px;
}
/* nav_dropdownbtn */
.nav_dropdown {
	cursor: pointer;
}
.nav_dropdown svg {
	width: 1.2rem;
	height: 1.2rem;
}
.nav_dropdown_active {
	transform: rotate(180deg);
}
/* XX管理-XXXX */
.sub_nav_item {
	padding: 0.5rem 0 0 0;
	overflow: hidden;
}
.sub_nav_item_container {
	transition: 0.2s;
}
.sub_nav_item_active {
	background: var(--button-active);
	box-shadow: var(--box-shadow);
}
.sub_nav_item_container .sub_nav_item_active:hover {
	background: var(--button-color);
	box-shadow: var(--box-shadow);
}
.sub_nav_item_container li {
	padding: 0.5rem;
	text-align: center;
	border-radius: 5px;
	margin: 0 0 0.5rem 0;
}
.sub_nav_item_container li:hover {
	background: var(--button-hover);
	box-shadow: var(--box-shadow);
}

.sub_nav_item_content {
	display: inline-block;
	width: 100%;
}
/* main */
.main {
	position: absolute;
	top: var(--header-height);
	left: var(--aside-width);
	background: var(--main-bg);
	padding: 2.2rem 2.5rem;
	width: calc(100vw - var(--aside-width));
	overflow: auto;
	height: calc(100vh - var(--header-height));
}
.main-title {
	font-size: 2rem;
	font-weight: normal;
}
/* sort by -- */
.sort-search {
	margin: 0.5rem 0 0 0;
}
.sort {
	flex: 0 0 auto;
}
.sort-btn {
	padding: 0.2rem 0.5rem;
	background: var(--header-bg);
	margin: 0.25rem;
	border-radius: 3px;
	box-shadow: var(--box-shadow);
}
.sort-btn:hover {
	background: var(--btn-hover);
	box-shadow: var(--hover-shadow);
}
.sort-btn:active {
	outline: var(--button-active) solid 4px;
}
/* search -- */
.search-box {
	padding: 0.25rem;
	border-radius: 0;
	border: 2px solid var(--button-active);
	height: 36px;
	position: relative;
	width: 365px;
	flex-shrink: 1;
}
.search-box:focus {
	z-index: 5;
}
.search-box::placeholder {
	font-family: "Noto Sans TC", sans-serif;
	color: var(--button-active);
}
.search-btn {
	border: 2px solid var(--button-active);
	padding: 0 1rem;
	border-left: none;
	height: 36px;
	border-radius: 0;
	position: relative;
}
/* filter -- */
.filter {
	padding: 0.5rem;
}
.filter-item {
	min-width: 100px;
	margin-left: 0.5rem;
}
.filter-btn {
	width: 100%;
	white-space: nowrap;
	padding: 0.3rem 0.5rem;
	background: var(--header-bg);
	margin: 0;
	border: 0;
	border-radius: 3px;
	box-shadow: var(--box-shadow);
	font-family: "Noto Sans TC", sans-serif;
}
.filter-btn:hover {
	background: var(--btn-hover);
}
.filter-dropdown {
	background: var(--header-bg);
	padding: 0.5rem;
	width: 100%;
	box-shadow: var(--box-shadow);
	border-radius: 3px;
	margin-top: 1px;
	transition: 0.5s;
}
.filter-dropdown li {
	border-radius: 4px;
	transition: 0.5s;
}
.filter-dropdown li:hover {
	background: var(--button-hover);
}
/* add new recipe -- */
.add-recipe-btn {
	width: 100%;
	white-space: nowrap;
	padding: 0.3rem 0.75rem;
	background: var(--header-bg);
	margin: 0;
	border: 0;
	border-radius: 3px;
	box-shadow: var(--box-shadow);
}
.add-recipe-btn:hover {
	background: var(--btn-hover);
	box-shadow: var(--hover-shadow);
}
.add-recipe-btn:active {
	outline: var(--outline);
}
/* ****************************************************************************** */
/* add-new-recipe-page--------------------------------------------------------- */
.new-recipe-page {
	height: 100vh;
	width: 100vw;
	top: 0;
	left: 0;
	z-index: 50;
	transition: 0.5s;
}
.cover {
	height: 100vh;
	width: 100vw;
	background: #666;
	opacity: 0.8;
}
.new-recipe-form {
	background: #fff;
	box-shadow: 1px 1px 3px #999, 1px 1px 6px #666, 0px 0px 9px #333;
	width: 500px;
	height: 600px;
	border-radius: 3px;
	opacity: 1;
	z-index: 5;
	padding: 1.5rem 2.5rem 1rem 2.5rem;
	overflow: auto;
}
.fa-xmark {
	top: 0.75rem;
	right: 1rem;
	font-size: 1.5rem;
	cursor: pointer;
}
.recipe-title {
	border-bottom: 2px solid var(--input-border);
	padding-bottom: 1rem;
	margin-bottom: 1rem;
}
.new-material-btn {
	white-space: nowrap;
	background: var(--header-bg);
	border: 0;
	border-radius: 3px;
	box-shadow: var(--box-shadow);
	padding: 0.25rem;
	font-family: "Noto Sans TC", sans-serif;
}
.new-material-btn:active {
	background: var(--btn-hover);
	box-shadow: var(--hover-shadow);
}
.form-control:focus {
	box-shadow: var(--box-shadow);
	border-color: var(--input-border);
}
.recipe-image {
	cursor: pointer;
}
.save-and-add-recipe-btn,
.back-recipe {
	white-space: nowrap;
	padding: 0.3rem 0.5rem;
	background: var(--header-bg);
	margin: 0.3rem;
	border: 0;
	border-radius: 3px;
	box-shadow: var(--box-shadow);
	font-family: "Noto Sans TC", sans-serif;
}
.save-and-add-recipe-btn:hover,
.back-recipe:hover {
	background: var(--btn-hover);
	box-shadow: var(--hover-shadow);
}

/* ****************************************************************************** */
