* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body,
*::placeholder,
*,
select,
option,
input {
	font-family: "Noto Sans TC", sans-serif;
}

a,
a:link {
	text-decoration: none;
	color: black;
}
a:hover,
a:active {
	color: black;
}

:root {
	/* height &width */
	--header-height: 80px;
	--aside-width: 250px;
	/* bg-color */
	--main-color: #fefbdd;
	--main-bg: #f7f7f8;
	--header-bg: #fff;
	--sub-bg: #efeff1;
	/* color */
	--button-color: #aaa;
	--button-active: #ccc;
	--btn-hover: #e5e5e5;
	--button-hover: #ddd;
	--main-font-color: #222;
	/* other */
	--box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15), 0 0px 2px rgba(0, 0, 0, 0.1);
	--hover-shadow: 3px 2px #bbb;
	--outline: var(--button-active) solid 4px;
	--input-border: #ced4da;
}
/* module */
.flex_center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.flex_between {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.position_abs {
	position: absolute;
}
.position-rel {
	position: relative;
}
.d-none {
	display: none;
}
.translateYtoNone {
	transform: translateY(-100%);
	opacity: 0;
	z-index: -1;
	height: 0;
}

.unstyled_list {
	list-style-type: none;
}
.btn-main {
	white-space: nowrap;
	padding: 0.25rem 0.65rem;
	background: var(--header-bg);
	margin: 0;
	border: 0;
	border-radius: 3px;
	box-shadow: var(--box-shadow);
	font-family: "Noto Sans TC", sans-serif;
}
/* .btn-main:hover {
	background: var(--btn-hover);
	box-shadow: var(--hover-shadow);
} */
.btn-main:hover {
	background: #ccc;
	box-shadow: var(--hover-shadow);
}
.invisible {
	opacity: 0;
}
.transition {
	transition: background 0.3s, box-shadow 0.3s;
}
.object-
 {
	object-fit: cover;
	width: 100%;
	height: 100%;
}
/* --------------------------------------------- */
/* header */
.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: var(--header-bg);
	padding: 0.5rem 1rem;
	height: var(--header-height);
	box-shadow: var(--box-shadow);
	width: 100%;
	position: fixed;
	z-index: 50;
}
/* logo & title */
.logo {
	margin-right: 1rem;
}
/* user */
.user_photo {
	margin-right: 0.75rem;
	height: 50px;
	width: 50px;
	padding: 0.3rem;
	border-radius: 50%;
	background: linear-gradient(
		135deg,
		rgba(226, 226, 226, 1) 0%,
		rgba(219, 219, 219, 1) 50%,
		rgba(209, 209, 209, 1) 51%,
		rgba(254, 254, 254, 1) 100%
	);
	box-shadow: var(--box-shadow);
}

.sign_out {
	display: inline-block;
	padding: 0.25rem 0.8rem;
	background: var(--header-color);
	box-shadow: var(--box-shadow);
	border-radius: 5px;
}
.sign_out:hover {
	background: var(--btn-hover);
	box-shadow: var(--hover-shadow);
}
/* --------------------------------------------- */
/* aside */
.aside {
	width: var(--aside-width);
	height: calc(100vh - var(--header-height));
	background: var(--sub-bg);
	padding: 1rem;
	font-size: 1rem;
	top: calc(var(--header-height));
	overflow: auto;
}
.nav {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}
/* main_nav_item */
.main_nav_item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 0.3rem;
}
/* XX管理 */
.main_nav_item a {
	margin-left: 1rem;
}
.main_nav_item svg {
	width: 1.4rem;
	height: 1.4rem;
}
.main_nav_item_content {
	line-height: 25px;
}
/* nav_dropdownbtn */
.nav_dropdown {
	cursor: pointer;
}
.nav_dropdown svg {
	width: 1.2rem;
	height: 1.2rem;
}
.nav_dropdown_active {
	transform: rotate(180deg);
}
/* XX管理-XXXX */
.sub_nav_item {
	padding: 0.5rem 0 0 0;

	overflow: hidden;
}
.sub_nav_item_container {
	transition: 0.2s;
}
.sub_nav_item_active {
	background: var(--button-active);
	box-shadow: var(--box-shadow);
}
.sub_nav_item_container .sub_nav_item_active:hover {
	background: var(--button-color);
	box-shadow: var(--box-shadow);
}
.sub_nav_item_container li {
	padding: 0.5rem;
	text-align: center;
	border-radius: 5px;
	margin: 0 0 0.5rem 0;
}
.sub_nav_item_container li:hover {
	background: var(--button-hover);
	box-shadow: var(--box-shadow);
}

.sub_nav_item_content {
	display: inline-block;
	width: 100%;
}
